th {
    border-bottom: 1px solid #4b4b4b;
    background-color: white;
    position: sticky;
    top: 50px;
}
tr:hover {
    background-color: #ffd5a4;
}
table, th, td {
    border-collapse: separate;
    border-spacing: 0;
}
table {
    width: 100%;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #c7c7c7;
}
tr:nth-child(even):hover {
    background-color: #ffd5a4;
}
td:nth-child(n+4):nth-child(-n+9) {
    text-align: center;
}
th:nth-child(n+4):nth-child(-n+9) {
    text-align: center;
}
input.small {
    max-width: 30%;
    min-width: 20%;
}
td:nth-child(1){
    padding-left: 20px;
}
.btn-rent {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    background: rgb(229,74,5);
    background: linear-gradient(0deg, rgba(229,74,5,1) 0%, rgba(255,165,0,1) 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.5);
    border: none;
}
.btn-rent:hover {
    background: rgb(180,58,136);
    background: linear-gradient(90deg, rgba(180,58,136,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}