tr {
    border-bottom: 1px solid #4b4b4b;
}
tr:hover {
    background-color: #e7ba7f;
}
table, th, td {
    border-collapse: collapse;
}
table {
    margin-top: 20px;
    width: 100%;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #c7c7c7;
}
tr:nth-child(even):hover {
    background-color: #e7ba7f;
}
td:nth-child(4) {
    background-color: red;
}